
/* main part of the webpage */

section#main-text, .main-article {
  width: 65%;
  min-height: 200px;
  border: blue 1px solid;
  float: left;
  margin: 1px;
  text-align: center;
  text-decoration: justify;
}

section#main-text p, article.main-article p {
 padding: 10px; 
 line-height: 120%;
 font-weight: 12px;
}

/* references */

aside#sidebar {
 width: 30%;
 min-height: 400px;
 float: right;
 border: blue 1px solid;
 line-height: 140%;
 margin-top: -15%;
}
